.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;  

}

.btn-container button{
    all: unset;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0px 20px;
}