.counter-countainer{
    display: flex;
    /* gap: 10px;    */
    background-color: #fff;
    padding: 10px 5px;
    border-radius: 0.15rem;
}

.counter-value{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0px 30px;
    border-right: 1px solid rgb(109, 108, 108); 
    border-left: 1px solid rgb(109, 108, 108); 
}